.header {
  background-color: lightgrey;
  height: 200px;
}

.header h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: lightslategray;
  font-size: 3rem;
  font-family: Georgia;
}
