h1 {
  font-family: Georgia;
  text-align: center;
}
.th {
  text-align: center;
}
tr {
  text-align: center;
}
td {
  font-family: Georgia;
  text-align: center;
}
tbody {
  text-align: center;
}
table {
  text-align: center;
}
